[Unit]
Description=Check Divvy Station Bluesky Bot health every 30 minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
RandomizedDelaySec=2min
AccuracySec=30s
Unit=divvy-bot-health.service

[Install]
WantedBy=timers.target
